<phpunit
  colors="true"
  bootstrap="tests/bootstrap.php">
  <php>
    <env name="RESOURCEKEY" value="!!YOUR_RESOURCE_KEY!!"/>
    <const name="FIFTYONEDEGREES_PLUGIN_DIR" value= ""/>
    <const name="FIFTYONEDEGREES_CUSTOM_DIMENSION_SCOPE" value= "HIT"/> 
  </php>
  <testsuites>
    <testsuite name="Unit">
      <file>tests/HookTests.php</file>
      <file>tests/RenderTests.php</file>
      <file>tests/EditorTests.php</file>
      <file>tests/GaServiceTests.php</file>
      <file>tests/GaTrackingGtagTests.php</file>
      <file>tests/GaHookTests.php</file>
    </testsuite>
    <testsuite name="Integration">
      <file>tests/PipelineTests.php</file>
    </testsuite>
  </testsuites>
</phpunit>
