.fod-pipeline-status {
    display: block; 
    font-style: italic;
    padding: 1em;
}

.fod-pipeline-status.good {background-color: rgba(0,255,0,0.2)}
.fod-pipeline-status.error {background-color: rgba(255,0,0,0.5)}
.fod-pipeline-status.warn {background-color: rgba(255,219,88,0.5)}


table {
margin:0;
padding:0;
margin-bottom: 0px;
}

.btn {
  background-color: #C7A589;
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 12px;
  cursor: pointer;
}

.fa-refresh:hover{
   color:DarkGray;
}

.fa-info:hover{
   color:DarkGray;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #ddd;
}
 
.tablenav.bottom {
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
}

.tablenav.top {
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
}

p {
  font-size: 14px;
}